<form id="create">
  <fieldset>
    <legend>Add Results</legend>
    <fieldset>
      <label>Order ID:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100"required>
    </fieldset>
    <br />
    <fieldset>
      <label>Staff ID:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100"required>
    </fieldset>
    <br />
    <fieldset>
      <label>Status:</label>
      <input type="radio" name="status" value="Complete" /> Done
      <input type="radio" name="status" value="Processing" /> Incomplete
      <input type="radio" name="status" value="Accessed" /> Accessed By Physician
    </fieldset>
    <br />
    <input class="bottom_button" type="submit" value="Add Result" id="add_res"/>
    <a class="bottom_button" href="./">Return to Main Page</a>
    <a class="bottom_button" href="./add">Add Something Else</a>
 </fieldset>
</form>
