<form id="Inquire">
  <fieldset>
    <legend>Look Up Doctor</legend>
    <fieldset>
      <label>First Name:</label>
      <input type="text" name="reps" id="reps" size="30" maxlength="100" required>
      <label>Last Name:</label>
      <input type="text" name="reps" id="reps" size="30" maxlength="100" required>
    </fieldset>
    <br />
    <input class="bottom_button" type="submit" value="Search Doctor" id="inq_doc"/>
    <a class="bottom_button" href="./">Return to Main Page</a>
    <a class="bottom_button" href="./inquire">Search Something Else</a>
 </fieldset>
</form>


<ul>
  <li>Sample Result</li>
  <li>Doctor Name:</li>
  <li>Department:</li>
</ul>
