{% extends 'base.html' %}

{% block content %}

<html>
<head><title>Browse Staff</title></head>

{% for message in get_flashed_messages() %}
    <h1>{{ message }}</h1>
{% endfor %}

<table border='1'>
    <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Type</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r[3] }}</td>
        <td> {{ r[0] }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td class="modify"> <input type='button' name='Update' value='Update' class="update" onclick="window.location = '/update_staff/{{r[3]}}'" > </td>
        <td class="modify"> <input type='button' name='Delete' value='Delete' class="delete" onclick="window.location = '/delete_staff/{{r[3]}}'"> </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<a class="home_button" href="./search_staff">Search Staff</a>
<a class="home_button" href="./staff">Return to Staff Page</a>
<a class="home_button" href="./">Return to Main Page</a>
</html>

{% endblock %}