{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <h1>{{ message }}</h1>
{% endfor %}

<!-- LOOK AT ALL DOCTORS-PATIENT COMBINATIONS -->
<table>
    <thead>
        <tr>
            <th class="IDRow">Staff ID</th>
            <th>Staff Name</th>
            <th class="IDRow">Patient ID</th>
            <th>Patient Name</th>
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
        <tr>
            <td class="IDRow"> {{ r[0] }}</td>
            <td> {{ r[1] }}</td>
            <td class="IDRow"> {{ r[2] }}</td>
            <td> {{ r[3] }}</td>
            <form id="update_staff_patients" action="./update_staff_patients/{{ r[0] }}{{ r[2] }}" method="GET">
                <td class="modify"> <input type='submit' value='Update' class="update"> </td>
            </form>
            <form id="delete_staff_patients" action="./delete_staff_patients" method="POST">
                <input type="hidden" name="staffID" value="{{ r[0] }}">
                <input type="hidden" name="patientID" value="{{ r[2] }}">
                <td class="modify"> <input type='submit' value='Delete' class="delete"> </td>
             </form>
        </tr>
        {% endfor %}
    </tbody>
</table><br>

<a class="home_button" href="./staff_patients">Return to Staff-Patient Page</a>
<a class="home_button" href="./">Return to Main Page</a>

{% endblock %}