<!DOCTYPE html>
<html>
    <head>
        <title>Patient Orders</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        {{{body}}} <!-- handlebar make changes to this portion -->
    </body>
</html>