<h1>
Patient Order
</h1>

<a class="home_button" href="http://flip3.engr.oregonstate.edu:7020/initiate">Create</a>

<a class="home_button" href="http://flip3.engr.oregonstate.edu:7020/update">Update</a>

<a class="home_button" href="http://flip3.engr.oregonstate.edu:7020/inquire">Inquire</a>
