<h1>
Patient Order
</h1>

<a class="home_button" href="./initiate"><button>Create</button></a>

<a class="home_button" href="./update"><button>Update</button></a>

<a class="home_button" href="./inquire"><button>Inquire</button></a>
