<h1>
Patient Order
</h1>

<a class="home_button" href="./initiate">Create</a>

<a class="home_button" href="./update">Update</a>

<a class="home_button" href="./inquire">Inquire</a>

<a class="delete" href="./delete">Delete</a>