<form id="Inquire">
  <fieldset>
    <legend>Look Up Patient</legend>
    <fieldset>
      <label>First Name:</label>
      <input type="text" name="reps" id="reps" size="30" maxlength="100" required>
      <label>Last Name:</label>
      <input type="text" name="reps" id="reps" size="30" maxlength="100" required>
    </fieldset>
    <br />
    <input class="bottom_button" type="submit" value="Inquire" id="inq_pat"/>
    <a class="bottom_button" href="./">Return to Main Page</a>
    <a class="bottom_button" href="./inquire">Look Up Something Else</a>
 </fieldset>
</form>


<ul>
  <li>Sample Result</li>
  <li>Patient Name:</li>
  <li>Primary Physician:</li>
  <li>Order Pending:</li>
</ul>
