<h1>
Search
</h1>

<a class="home_button" href="./inquire_doctors">Doctors</a>

<a class="home_button" href="./inquire_patients">Patients</a>

<a class="home_button" href="./inquire_orders">Orders</a>

<a class="home_button" href="./inquire_results">Results</a>

<a class="home_button" href="./inquire_staff">Staff</a>

<a class="home_button" href="./">Back to Home</a>
