<form id="Update">
  <fieldset>
    <legend>Update Order</legend>
    <fieldset>
      <legend>
      Order Information
      </legend>
      <label>Order ID:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100">
    </fieldset>
    <br />
    <fieldset>
      <label>Staff ID:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100">
    </fieldset>
    <br />
    <fieldset>
      <label>Order Type:
        <select name="cars" id="cars">
    <option value="None">None</option>
    <option value="Blood Test">Blood Test</option>
    <option value="X-Ray">X-Ray</option>
    <option value="Prescription">Prescription</option>
  </select>
      </label>
    </fieldset>
    <br />
    <fieldset>
      <label>Completion Date:</label>
      <input type="date" name="date" id="date">
    </fieldset>
    <br/>
    <textarea rows="4" cols="50" name="comment" form="usrform">
Comments</textarea><br/>
    <input type="submit" value="Update Order" id="submit2"/>
    
    <a href="./home"><button>Return to Main Page</button></a>

 </fieldset>
</form>