{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <h1>{{ message }}</h1>
{% endfor %}

<!-- ADD NEW RELATIONSHIP -->
<br><h2>Add New Staff-Patient Relationship</h2>
<form id="add_relation" action="./add_staff_patients" method="POST">
    <fieldset>
        <legend>Relationship Details</legend>
        <fieldset>
            <label>Staff:</label>
            <select name="staf_id">
                <option disabled selected value></option>
                {% for st in staff %}
                    <option value="{{st[0]}}">{{ st[1] }} {{ st[2] }}</option>
                {% endfor %}
            </select>
            <label>Patient:</label>
            <select name="pat_id">
                <option disabled selected value></option>
                {% for pat in patients %}
                    <option value="{{pat[0]}}">{{ pat[1] }} {{ pat[2] }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <br />
        <input class="bottom_button" type="submit" value="Add Relationship" id="add_rel"/>
    </fieldset>
</form>

<a class="home_button" href="./">Return to Main Page</a>
<a class="home_button" href="./staff_patients">Return to staff-Patient Page</a>

{% endblock %}
