{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <h1>{{ message }}</h1>
{% endfor %}

<!-- ADD NEW PATIENT -->
<br><h2>Add New Patient</h2>
<form id="add_patient" action="./add_patients" method="POST">
    <fieldset>
        <legend>Patient Details</legend>
        <fieldset>
            <label>First Name:</label>
            <input type="text" name="fname" required>
            <label>Last Name:</label>
            <input type="text" name="lname" required>
            <label>Primary Doctor:</label>
            <select name="primaryDocID">
                <option disabled selected value></option>
                {% for doc in doctors %}
                    <option value="{{doc[0]}}">{{ doc[1] }} {{ doc[2] }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <br />
        <input class="bottom_button" type="submit" value="Add Patient" id="add_pat">
    </fieldset>
</form>

<a class="home_button" href="./">Return to Main Page</a>
<a class="home_button" href="./patients">Return to Patients Page</a>

{% endblock %}