{% extends 'base.html' %}

{% block content %}

<!-- SEARCH FOR ORDER -->
<br><h2>Search for Order</h2>
<form id="Inquire">
  <fieldset>
    <legend>Order Details</legend>
    <fieldset>
      <label>Order ID:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100" required>
    </fieldset>
    <br />
    <fieldset>
      <label>Doctor ID:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100" required>
    </fieldset>
    <br />
    <fieldset>
      <label>Order Type:
        <select name="cars" id="cars">
          <option value="None">None</option>
          <option value="Blood Test">Blood Test</option>
          <option value="X-Ray">X-Ray</option>
          <option value="Prescription">Prescription</option>
          </select>
      </label>
    </fieldset>
    <br />
    <input class="bottom_button" type="submit" value="Search Order" id="inq_ord"/>
  </fieldset>
</form>
  
  <ul>
    <li>Sample Result</li>
    <li>Ordered By:</li>
    <li>Ordered For:</li>
    <li>Status:</li>
  </ul>

  
<!-- LOOK AT ALL ORDERS -->
<br><h2>All Orders</h2>
<table>
  <thead>
    <tr>
      <th class="IDRow">Order ID</th>
      <th>Order Type</th>
      <th>Recipient (Patient)</th>
      <th>Issued by (Doctor)</th>
      <th>Provider (Staff)</th>
      <th>Issued Date and Time</th>
      <th colspan="2">Modify</th>
    </tr>
  </thead>
  <tbody>
    <!-- body will be filled with data from database, this is temporary data for viewing purposes -->
    <tr>
      <td class="IDRow">10</td>
      <td>Prescription</td>
      <td>id:1</td>
      <td>id:2</td>
      <td>id:3</td>
      <td>2020-11-12, 8:30</td>
      <td class="modify delete">Delete</td>
      <td class="modify update">Update</td>
    </tr>
    <tr>
      <td class="IDRow">12</td>
      <td>Blood Tests</td>
      <td>id:3</td>
      <td>id:2</td>
      <td>id:1</td>
      <td>2020-12-11, 6:30</td>
      <td class="modify delete">Delete</td>
      <td class="modify update">Update</td>
    </tr>
  </tbody>
</table><br>


<!-- ADD NEW ORDER -->
<br><h2>Add New Order</h2>
<form id="create">
  <fieldset>
    <legend>Initiate Order</legend>
    <fieldset>
      <legend>
      Patient's Information
      </legend>
      <label>First Name:</label>
      <input type="text" name="name" id="name" size="30" maxlength="100">
      <label><br />Last Name:</label>
      <input type="text" name="name" id="name" size="30" maxlength="100">
      <br />
      <label>ID:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100">
    </fieldset>
    <br />
    <fieldset>
      <label>Doctor ID:</label>
      <input type="number" name="reps" id="reps" size="30" maxlength="100">
    </fieldset>
    <br />
    <fieldset>
      <label>Order Type:
        <select name="cars" id="cars">
    <option value="None">None</option>
    <option value="Blood Test">Blood Test</option>
    <option value="X-Ray">X-Ray</option>
    <option value="Prescription">Prescription</option>
  </select>
      </label>
    </fieldset>
    <br />
    <fieldset>
      <label>Date:</label>
      <input type="date" name="date" id="date">
    </fieldset>
    <br/>
    <textarea type="text" rows="4" cols="50" name="comment" form="usrform"
      placeholder="Additional Order Instructions"></textarea><br/>
    <input class="bottom_button" type="submit" value="Add Order" id="submit"/>
  </fieldset>
</form>
  
<a class="home_button" href="./">Return to Main Page</a>

{% endblock %}