{% extends 'base.html' %}

{% block content %}

<!-- SEARCH FOR PATIENT -->
<br><h2>Search for Patient</h2>
<form id="Inquire">
    <fieldset>
        <legend>Look Up Patient</legend>
        <fieldset>
        <label>First Name:</label>
        <input type="text" name="reps" id="reps" size="30" maxlength="100" required>
        <label>Last Name:</label>
        <input type="text" name="reps" id="reps" size="30" maxlength="100" required>
        </fieldset>
        <br />
        <input class="bottom_button" type="submit" value="Search Patient" id="inq_pat"/>
    </fieldset>
</form>
    
<ul>
    <li>Sample Result</li>
    <li>Patient Name:</li>
    <li>Primary Physician:</li>
    <li>Order Pending:</li>
</ul>


<!-- LOOK AT ALL PATIENTS -->
<br><h2>All Patients</h2>
<table>
    <thead>
        <tr>
            <th class="IDRow">Patient ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Primary Doctor</th>
            <th colspan="2">Modify</th>
        </tr>
    </thead>
    <tbody>
        <!-- body will be filled with data from database, this is temporary data for viewing purposes 
        primary doctor will list doctor's name, for now it's just their ID-->
        <tr>
            <td class="IDRow">10</td>
            <td>Diaz</td>
            <td>Junot</td>
            <td>id:5</td>
            <td class="modify delete">Delete</td>
            <td class="modify update">Update</td>
        </tr>
        <tr>
            <td class="IDRow">12</td>
            <td>Duflo</td>
            <td>Esther</td>
            <td>id:2</td>
            <td class="modify delete">Delete</td>
            <td class="modify update">Update</td>
        </tr>
    </tbody>
</table><br>


<!-- ADD NEW PATIENT -->
<br><h2>Add New Patient</h2>
<form id="create">
    <fieldset>
        <legend>Patient Details</legend>
        <fieldset>
        <label>First Name:</label>
        <input type="text" name="reps" id="reps" size="20" maxlength="100" required>
        <label>Last Name:</label>
        <input type="text" name="reps" id="reps" size="20" maxlength="100" required>
        <label>Primary Doctor ID:</label>
        <input type="number" required>
        </fieldset>
        <br />
        <input class="bottom_button" type="submit" value="Add Patient" id="add_pat"/>
    </fieldset>
</form>

<a class="home_button" href="./">Return to Main Page</a>

{% endblock %}