{% extends 'base.html' %}

{% block content %}

<!-- Search STAFF -->
<br><h2>Search Staff</h2>
<form id="searchstaff" action="" method="post">
    <fieldset>
        <legend>Staff Details</legend>
        <fieldset>
            <label>First Name/Last Name:</label>
            <input type="text" name="search_data" required>
        </fieldset>
        <br />
        <input class="bottom_button" type="submit" value="Search Staff" id="sear_sta">
    </fieldset>
</form>

<a class="home_button" href="./staff">Return to Staff Page</a>
<a class="home_button" href="./">Return to Main Page</a>

{% endblock %}