{% extends 'base.html' %}

{% block content %}

<br><h2>Update Patient</h2>
<form id="update_patients" action="" method="POST">
    <fieldset>
        <legend>Patient Details</legend>
        <fieldset>
            <input type="hidden" name="patientID" value="{{ patient[0][0] }}" required>
            <label>First Name:</label>
            <input type="text" name="fname" value="{{ patient[0][2] }}" required>
            <label>Last Name:</label>
            <input type="text" name="lname" value="{{ patient[0][1] }}" required>
            <label>Primary Doctor ID:</label>
            <input type="number" name="primary" value="{{ patient[0][3] }}" required>
        </fieldset><br>
        <input class="bottom_button" type="submit" value="Update Patient" id="update_pat">
    </fieldset>
</form>

<a class="home_button" href="../browse_patients">Return to All Patients Page</a>

{% endblock %}