{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <h1 class="flash">{{ message }}</h1>
{% endfor %}
<!-- page used to add order -->
<form id="addorders" action="./add_orders" method="post">
  <fieldset>
    <legend>Initiate Order</legend>
    <fieldset>
      <label>Patient:</label>
      <br />
      <select name="patientID" id="patientID" required>
        <option value="">None</option>
        <!-- display all patient inside this dropdown -->
        {% for p in patients %}
        <option value="{{ p[0] }}">{{ p[1] }}</option>
      {% endfor %}
      </select>
      </fieldset>
      <br />
      <fieldset>
        <label>Doctor:</label>
        <br />
        <select name="doctorID" id="doctorID" required>
          <option value="">None</option>
          <!-- display all doctors inside this dropdown -->
          {% for d in doctors %}
          <option value="{{ d[0] }}">{{ d[1] }}</option>
        {% endfor %}
        </select>
        </fieldset>
        <br />
    <fieldset>
      <!-- display all order types inside this dropdown -->
      <label>Order Type:</label>
        <select name="orderType" id="orderType" required>
          <option value="">None</option>
          <option value="Blood Test">Blood Test</option>
          <option value="X-Ray">X-Ray</option>
          <option value="Prescription">Prescription</option>
        </select>
    </fieldset>
    <br />
    <fieldset>
      <label>Date:</label>
      <input id="today" type="date" name="date" required>
      <label>Time:</label>
      <input id="rightnow" type="time" name="time" required>
    </fieldset>
    <br/>
    <input class="bottom_button" type="submit" value="Add Order" id="submit"/>
 </fieldset>
</form>
<a class="home_button" href="./orders">Return to Orders Page</a>
<a class="home_button" href="./">Return to Main Page</a>
<script>
  // date and time variables are preloaded to file
var myDate = new Date();
var today = new Date().toISOString().substr(0, 10);
var time = myDate.toTimeString().substr(0, 5);
document.getElementById("today").value = today;
document.getElementById("rightnow").value = time;
</script>
{% endblock %}
