{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <h1 class="flash">{{ message }}</h1>
{% endfor %}

<!-- ADD NEW STAFF -->
<br><h2>Add New Staff</h2>
<form id="addperson" action="./add_staff" method="post">
    <fieldset>
        <legend>Staff Details</legend>
        <fieldset>
            <label>First Name:</label>
            <input type="text" name="fname" required>
            <label>Last Name:</label>
            <input type="text" name="lname" required>
            <label>Type:</label>
            <input type="text" name="type" required>
        </fieldset>
        <br />
        <input class="bottom_button" type="submit" value="Add Staff" id="add_sta">
    </fieldset>
</form>

<a class="home_button" href="./staff">Return to Staff Page</a>
<a class="home_button" href="./">Return to Main Page</a>

{% endblock %}