{% extends 'base.html' %}

{% block content %}

<br><h2>Update Patient</h2>
<form id="update_patients" action="" method="POST">
    <fieldset>
        <legend>Patient Details</legend>
        <fieldset>
            <input type="hidden" name="patientID" value="{{ patient[0] }}" required>
            <label>First Name:</label>
            <input type="text" name="fname" value="{{ patient[2] }}" required>
            <label>Last Name:</label>
            <input type="text" name="lname" value="{{ patient[1] }}" required>
            <label>Primary Doctor:</label>
            <select name="primary">
                {% for doc in doctors %}
                    {% if patient[3] == doc[0] %}
                        <option value="{{doc[0]}}" selected>{{ doc[1] }} {{ doc[2] }}</option>
                    {% else %}
                        <option value="{{doc[0]}}">{{ doc[1] }} {{ doc[2] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </fieldset><br>
        <input class="bottom_button" type="submit" value="Update Patient" id="update_pat">
    </fieldset>
</form>

<a class="home_button" href="../browse_patients">Return to All Patients Page</a>

{% endblock %}