{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <h1>{{ message }}</h1>
{% endfor %}

<!-- ADD NEW RELATIONSHIP -->
<br><h2>Add New Doctor-Patient Relationship</h2>
<form id="add_relation" action="./add_doctors_patients" method="POST">
    <fieldset>
        <legend>Relationship Details</legend>
        <fieldset>
            <label>Doctor ID: </label>
            <input type="number" name="doc_id" required>
            <label>Patient ID:</label>
            <input type="number" name="pat_id" required>
        </fieldset>
        <br />
        <input class="bottom_button" type="submit" value="Add Relationship" id="add_rel"/>
    </fieldset>
</form>

<a class="home_button" href="./">Return to Main Page</a>
<a class="home_button" href="./doctors_patients">Return to Doctor-Patient Page</a>

{% endblock %}
