{% extends 'base.html' %}

{% block content %}

<html>
<head><title>Browse Orders</title></head>

{% for message in get_flashed_messages() %}
    <h1>{{ message }}</h1>
{% endfor %}

<table border='1'>
    <thead>
        <th>Order ID</th>
        <th>Date</th>
        <th>Time</th>
        <th>Order Type</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Staff</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r[0] }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
        <td> {{ r[4] }}</td>
        <td> {{ r[5] }}</td>
        <td> {{ r[6] }}</td>
        <td> <input type='button' name='Update' value='Update' > </td>
        <td> <input type='button' name='Delete' value='Delete' > </td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<a class="home_button" href="./search_orders">Search Orders</a>
<a class="home_button" href="./">Return to Main Page</a>
<a class="home_button" href="./orders">Return to Orders Page</a>
</html>

{% endblock %}