{% extends 'base.html' %}

{% block content %}

<html>
<head><title>Browse Doctors</title></head>

{% for message in get_flashed_messages() %}
    <h1>{{ message }}</h1>
{% endfor %}

<table>
    <thead>
        <th class="IDRow">ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td class="IDRow"> {{ r[0] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[3] }}</td>
        <form id="update_doctors" action="./update_doctors/{{ r[0] }}" method="GET">
          <td class="modify"> <input type='submit' value='Update' class="update"> </td>
        </form>
        <form id="delete_doctors" action="./delete_doctors" method="POST">
          <input type="hidden" name="doctorID" value="{{ r[0] }}">
          <td class="modify"> <input type='submit' value='Delete' class="delete"> </td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
</table>

<a class="home_button" href="./search_doctors">Search Doctors</a>
<a class="home_button" href="./">Return to Main Page</a>
<a class="home_button" href="./doctors">Return to Doctors Page</a>
</html>

{% endblock %}