{% extends 'base.html' %}

{% block content %}

<h2>Update {{staff[0]}} {{staff[1]}}:</h2>
<form id="update_person" action="/update_staff/{{staff[3]}}" method="post">
    <fieldset>
        <input type="hidden" name="staffID" value = "{{ staff[3] }}">
        First name: <input type="text" name="firstName" value="{{staff[0]}}"><br>
        Last name: <input type="text" name="lastName" value="{{staff[1]}}"><br>
        Staff Type: <input type="text" name="staffType" value="{{staff[2]}}"><br>
        <input class="bottom_button" type="submit" value="Update Staff" id=upd_staff>
    </fieldset>
</form>

<a class="home_button" href="/">Return to Main Page</a>
<a class="home_button" href="/staff">Return to Staff Page</a>

{% endblock %}
